<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Arrow</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>
    <h1>Arrow</h1>

 <img src="../images/arrowPointTo.png" alt="" srcset="" width="50%" height="50%">

<p>Arrow comp is just like line comp except it has a "pointer head" at the end. Just like line comp the Arrow comp also has x,y and x2,y2.</p>
<p>Arrow comp does not support border,background,colorBackground etc.</p>
<p>This comps takes following arguments</p>
<table>
    <tr>
        <td colspan="25%">Arg Name</td>
        <td colspan="25%">Arg Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">x</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The x-axis of starting point</td>
</tr>
<tr>
    <td colspan="25%">y</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The y-axis of starting point</td>
</tr>
<tr>
    <td colspan="25%">x2</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The x-axis of ending point</td>
</tr>
<tr>
    <td colspan="25%">y2</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The y-axis of ending point</td>
</tr>
<tr>
    <td colspan="25%">color</td>
    <td colspan="25%">string</td>
    <td colspan="50%">The color of the arrow comp (stick and head both)</td>
</tr>

</table>


<p>This comp has following "Comp Props" (props unique to this comp).</p>
<table>
    <tr>
        <td colspan="25%">Prop Name</td>
        <td colspan="25%">Prop Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">x2</td>
    <td colspan="25%"><a href="../propTypes/aniPerc.html">AniPerc</a></td>
    <td colspan="50%">The x-axis of ending point</td>
</tr>
<tr>
    <td colspan="25%">y2</td>
    <td colspan="25%"><a href="../propTypes/aniPerc.html">AniPerc</a></td>
    <td colspan="50%">The y-axis of ending point</td>
</tr>
<tr>
    <td colspan="25%">headWidth</td>
    <td colspan="25%"><a href="../propTypes/aniPerc.html">AniPerc</a></td>
    <td colspan="50%">The width of Arrow head. Responsive to canvas width</td>
</tr>
<tr>
    <td colspan="25%">headHeight</td>
    <td colspan="25%"><a href="../propTypes/aniPerc.html">AniPerc</a></td>
    <td colspan="50%">The height of Arrow head. Responsive to canvas height</td>
</tr>
<tr>
    <td colspan="25%">headColor</td>
    <td colspan="25%"><a href="../propTypes/aniColor.html">AniColor</a></td>
    <td colspan="50%">The color of Arrow head</td>
</tr>
</table>

<p>Most of the BaseComponent props are not implemented since they are not required.</p>

<h3>Samples</h3>
<ol>
    
<li><a href="../compProjects/arrow/sixArrows.html" target="_blank">
Six Arrows</a></li>
<br/>
<li><a href="../compProjects/arrow/arrowRotate.html" target="_blank">
Arrow Rotate</a></li>
<br/>
<li><a href="../compProjects/arrow/arrowPointer.html" target="_blank">
Arrow Pointer</a></li>
<br/>
<li><a href="../compProjects/arrow/arrowHeadWidth.html" target="_blank">
    Arrow Head Width</a></li>
<br/>
<li><a href="../compProjects/arrow/arrowPointTo.html" target="_blank">
    Arrow PointTo</a></li>
<br/>

</ol>


<br>
<br>
<br>
<hr>
<br>
<br>
</body>
</html>