<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Home</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>

<h1>Components Home</h1>
<p>Follwoing is a list of all the Components avaialbe in bilza.js</p>

<ol>
<h3><li><a href="./circle.html">circle</a></li></h3>
<h3><li><a href="./canvasBorder.html">canvasBorder</a></li></h3>
<h3><li><a href="./fillRect.html">fillRect</a></li></h3>
<h3><li><a href="./grid.html">grid</a></li></h3>
<h3><li><a href="./line.html">line</a></li></h3>
<h3><li><a href="./particleSystem.html">particleSystem</a></li></h3>
<h3><li><a href="./pic.html">pic</a></li></h3>
<h3><li><a href="./rect.html">rect</a></li></h3>
<h3><li><a href="./text.html">text</a></li></h3>


</ol>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>