<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Home</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>

<h1>Line</h1>
<p>Line component draws line on the screen.</p>

<p>This comp takes in following arguments at creation time.</p>
<!-- x1 :number=0,y1 :number=0,x2 :number=20,y2 :number=20,color :string ="#000000" -->
<table>
    <tr>
        <td colspan="25%">Arg Name</td>
        <td colspan="25%">Arg Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">x1</td>
    <td colspan="25%">Number</td>
    <td colspan="50%">The x axis of the starting vertex (mostly in percentage from 0 to 100) of the line</td>
</tr>
<tr>
    <td colspan="25%">y1</td>
    <td colspan="25%">Number</td>
    <td colspan="50%">The y axis of the starting vertex (mostly in percentage from 0 to 100) of the line</td>
</tr>
<tr>
    <td colspan="25%">x2</td>
    <td colspan="25%">Number</td>
    <td colspan="50%">The x axis of the ending vertex (mostly in percentage from 0 to 100) of the line</td>
</tr>
<tr>
    <td colspan="25%">y2</td>
    <td colspan="25%">Number</td>
    <td colspan="50%">The y axis of the ending vertex (mostly in percentage from 0 to 100) of the line.</td>
</tr>
<tr>
    <td colspan="25%">color</td>
    <td colspan="25%">string</td>
    <td colspan="50%">Color of the line.</td>
</tr>

</table>

<p>Following are comp props (props unique to Circle Component).</p>
<table>
    <tr>
        <td colspan="25%">Prop Name</td>
        <td colspan="25%">Prop Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">x2</td>
    <td colspan="25%">AniPerc | AniNumber</a></td>
    <td colspan="50%">The x axis of ending point of line.</td>
</tr>
<tr>
    <td colspan="25%">y2</td>
    <td colspan="25%">AniPerc | AniNumber</a></td>
    <td colspan="50%">The y axis of ending point of line.</td>
</tr>

<tr>
    <td colspan="25%">lineWidth</td>
    <td colspan="25%">AniNumber</a></td>
    <td colspan="50%">The width of line</td>
</tr>
</table>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>