<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Arrow</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>
    <h1>Marker</h1>

 <img src="../images/arrowPointTo.png" alt="" srcset="" width="50%" height="50%">

<p>The Marker comp is not a seperate component actually, it is the circle component with correct setting to mark a point on the grid.</p>

<blockquote>Marker comp is just Circle comp with specific settings</blockquote>

 <p>This comps takes following arguments</p>
<table>
    <tr>
        <td colspan="25%">Arg Name</td>
        <td colspan="25%">Arg Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">x</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The x-axis</td>
</tr>
<tr>
    <td colspan="25%">y</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The y-axis</td>
</tr>
<tr>
    <td colspan="25%">color</td>
    <td colspan="25%">string</td>
    <td colspan="50%">The color of the marker</td>
</tr>
<tr>
    <td colspan="25%">radius</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The radius of the marker circle</td>
</tr>

</table>


<p>This comp has NO "Comp Props" (props unique to this comp).</p>


<br>
<br>
<br>
<hr>
<br>
<br>
</body>
</html>