<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Home</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>

<h1>Particle System</h1>
<p>Particle System component creates a particle system on the screen.</p>

<p>This comp takes in following arguments at creation time.</p>
<!-- count :number= 20,color :string="#008000",delay :number=50 -->
<table>
    <tr>
        <td colspan="25%">Arg Name</td>
        <td colspan="25%">Arg Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">count</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The number of particles to display.</td>
</tr>
<tr>
    <td colspan="25%">color</td>
    <td colspan="25%">string</td>
    <td colspan="50%">The color of particles.</td>
</tr>
<tr>
    <td colspan="25%">delay</td>
    <td colspan="25%">number</td>
    <td colspan="50%">Delay between particles move.</td>
</tr>

</table>

<h3>Comp Props</h3>
<table>
    <tr>
        <td colspan="25%">Prop Name</td>
        <td colspan="25%">Prop Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">count</td>
    <td colspan="25%">AniNumber</a></td>
    <td colspan="50%">The number of particles.</td>
</tr>
<tr>
    <td colspan="25%">particleSize</td>
    <td colspan="25%">AniNumber</a></td>
    <td colspan="50%">The size of the particles.</td>
</tr>
<tr>
    <td colspan="25%">lineWidth</td>
    <td colspan="25%">AniNumber</a></td>
    <td colspan="50%">The size of line drawing the particles boundry.</td>
</tr>
<tr>
    <td colspan="25%">lineColor</td>
    <td colspan="25%">string</a></td>
    <td colspan="50%">The color of particles boundry.</td>
</tr>
<tr>
    <td colspan="25%">filled</td>
    <td colspan="25%">AniBoolean</a></td>
    <td colspan="50%">To show particles filled/empty.</td>
</tr>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>