<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='../misc/dark.css'>
    <script src="../misc/prism.js"></script>
    <link rel="stylesheet" href="./misc/prism.css">   
  
    <link rel="stylesheet" href="../misc/custom.css">   

<title>Bilza Components Home</title>

</head>
<body>

    <a href="../index.html" >Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compCore/" >Comp Core Examples</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="../compProjects/" >Comp Projects</a>    
    <!-- <a href="./samples.html" >Samples</a>&nbsp;     -->
    <hr>

<h1>Pic</h1>
<p>Pic component will draw an image on the screen.</p>

<p>This comp takes in following arguments at creation time.</p>
<!-- imgUrl :string, width:number=25, height :number=25 -->
<table>
    <tr>
        <td colspan="25%">Arg Name</td>
        <td colspan="25%">Arg Type</td>
        <td colspan="50%">Explanation</td>
    </tr>
<tr>
    <td colspan="25%">imgUrl</td>
    <td colspan="25%">string</td>
    <td colspan="50%">The url of the image</td>
</tr>
<tr>
    <td colspan="25%">width</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The width of the image</td>
</tr>
<tr>
    <td colspan="25%">height</td>
    <td colspan="25%">number</td>
    <td colspan="50%">The height of the image</td>
</tr>

</table>

<p>This comp has no comp props.</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>